.media { background: mintcream;}
.lineBottom {border-bottom: 1px solid #000;}

.mtop15 {margin-top: 15px;}
.mtop20 { margin-top: 20px; }
.mtop30 { margin-top: 30px; }
.height80 {height: 80px;}
.mbotpad10 {padding-bottom: 10px;}
.mbottom30 {margin-bottom: 30px;}
.mbottom60 {margin-bottom: 60px;}

.fl-r {	float: right;}
.fl-l {	float: left; }
.center {
	margin-left:25%;
	margin-right: 25%;
	position: relative;
	display: block;
}

textarea {	resize: none;	outline: none;}

.message-friend {	margin: 10px 0 0 0;	padding-bottom: 10px;	border-bottom: 1px solid gray}

.message-friend > span {
	font: 16px 'Helvetica';
	margin: 0 0 0 10px;
}

.Userinfo.Block, .fotoBlock {
	background: #f8f8f8;
	float: left;
}

.Userinfo.Block > span {
	width: 100%;
	float: left;
	font: 15px 'Helvetica';
	margin: 10px 0 7px 8px; 
	font-color: #fff;
} 

.friends {
    float: left;
    background: #f8f8f8;
    position: relative;
    width: 100%;
}


.friends > h3, .friends > span {
	margin-left: 15px;
}

a.SeeAll {
	width: 100%;
	display: block;
	float: left;
	position: relative;
    padding-left: 10px;
    margin-bottom: 20px;
}


.LetSomeoneHelpMe {
	float: left;
	background: #f8f8f8;
	position: relative;
    padding: 0 15px 20px 15px;
}

.pictures {
	margin: 15px 0 0 0;
	float: left;
}

li.welcomeUser {
    color: #FFF;
    margin-top: 15px;
    font-size: 16px;
}

li.welcomeUser > a {
    float: right;
    display: block;
    margin-top: -15px;
}

a.forgetPass {
	display: block;
	float: left;
	margin-right: 40px;
}

.profile-img {
	margin: 10px 0 0 10px;
}

.btnFixMar {
	margin: -45px 30px 0 0;
	display: block;
}

img.ProfileBanner {
    position: relative;
}

img.ProfileImg {
    position: absolute;
    top: 100px;
    left: 25px;
}

.content {
	margin-bottom: 60px;
	position: relative;
}

.friendsRequest {
	width:100%; 
	float:left; 
	position:relative;
	border-bottom: 2px solid #5F021F;
}

.friendsRequest > a.btn {float: right;	margin-top: 28px;}
.friendsRequest > span {
    margin-top: 30px;
    margin-left: 20px;
    font: 17px 'Helvetica';
    display: block;
    float: left;
    position: relative;
}
.circle {
    display: block;
    width: 25px;
    height: 25px;
    background: #235B2E;
    border-radius: 50%;
    position: absolute;
    top: 13px;
    right: -13px;
}

span.count {
    color: #fff;
    padding: 2px 0 0 8px;
    display: block;
}

.media.Posts {
    margin-bottom: 25px;
    padding: 15px;
}

a:focus, a:hover {
    color: #23527c;
    text-decoration: none;
}

a {
    color: #00bfff;
}

p {
    font-size: 16px;
}

.navbar-default {
    background-color: #5F021F;
}

.navbar-default .navbar-nav>li>a {
    color: #FFF;
    font-size: 16px;
}

.navbar-default .navbar-brand {
    color: #FFF;
}

.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
    color: #ADADAD;
}